.cluster 
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: 175px
    &__location 
        font-weight: bold
        margin-bottom: 14px
    &__address 
        color: $main-color
        &:hover 
            text-decoration: underline
    &__date 
        color: lighten($text-color, 20%)
        align-self: flex-end

@media (max-width: 568px) 
    .ymaps-2-1-75-balloon__layout
        max-width: 300px 

    .cluster, .ymaps-2-1-75-b-cluster-carousel__pager
        max-width: 200px

    .ymaps-2-1-75-b-cluster-carousel__nav_type_next
        right: 55px !important
