.feedback 
    max-width: 379px
    border-radius: 12px
    display: flex
    flex-direction: column
    &__header
        border-top-left-radius: 12px
        border-top-right-radius: 12px
        background-color: $main-color
        color: $background-color
        padding: 16px 14px
        font-size: 12px
    &-content 
        padding: 14px
    &-list 
        min-height: 150px
    &-form 
        border-top: 1px solid $line-color
        &__title 
            text-transform: uppercase
            font-size: 16px
            font-weight: 500
            color: $main-color
            margin: 15px 0
        &__input 
            border: 1px solid $secondary-color
            border-radius: 20px
            padding: 10px 15px
            margin-bottom: 16px
            width: 100%
            font-weight: 300
            &:last-child 
                border-radius: 15px
        &__button 
            background-color: $main-color
            color: $background-color
            border-radius: 15px
            padding: 10px 17px
            font-weight: 300
            align-self: end
        
        
